
.header{
    font-family: 'Montserrat', sans-serif ;
    display: flex;
    justify-content: space-between;
    width: 1163px;
    text-align: center;
    margin: auto;
    align-items: center;
    margin-top: 28px;
    
    
    
    
    }
    
    .logo_link{
    
    font-family: 'Kaushan Script', cursive;
    margin-top: 20px;
    
    }
    
    
    .logo{
    color: #FED136;
    font-size: 30px;
    font-weight: 700;
    width: 100px;
    height: 100px;

    background-image: url(../Images/PikPng.com_anonymous-mask-png_1125985.png);

    
    }
    
    
    
    
    
    .menu_list{
    width: 500px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    
    }
    
    
    
    .menu_list_link{
        color: #222222;
        font-size: 16px;
        font-weight: 900;
        font-family: 'Montserrat', sans-serif;
        border-bottom: 4px solid transparent;
    
    
    
    }
    
    
    
    .menu_list_link:hover{
        color: #FED136;
      
        
        
    
    }
    