* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    outline: none;
}

li {
    list-style-type: none;
}

.body{
    background: linear-gradient(rgba(181, 23, 158, 0.8), rgba(72, 12, 168, 0.8), rgba(67, 97, 238, 0.8));
    width: 100%;
}